.create-block
{
    background-color:#fff;
    padding: 1% 2%;
    -webkit-box-shadow:0 0 50px 50px rgb(255,255,255);
    box-shadow:0 0 50px 50px rgb(255,255,255);
    text-align:center;
    border-radius:5px;
    width: 50%;
    height: 40%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.create-block input
{
    font-family:Open Sans,sans-serif;
    color:#96a2b2;
}

.create-block input:focus{
    border-color: white;
    box-shadow: 0 0 10px 2px #24727b!important;
}

.create-block label
{
    margin-right: 2%;
}

@media (max-width: 350px) {
   .create-block
    {
        width: 100%;
       height: 100%;
    }
}

.create-block h1
{
    font-family:Open Sans,sans-serif;
    color:#24727b;
    letter-spacing:1px;
}

.create-block h1
{
    font-size:22px;
    margin-bottom:20px;
    margin-top:2px
}
.create-block .input-group-addon
{
    color:#24727b;
    font-size:19px;
    padding:1% 2%;
    opacity:.5
}

.fa
{
    width: 19px;
}

.create-block .btn-block
{
    width: 70%;
    height: 2%;
    padding:10px;
    background:#24727b;
    border-color:#24727b;
    margin: 5px auto;
}
.create-block .btn-block:active, .create-block .btn-block:focus, .create-block .btn-block:hover
{
    color:#fff;
    background-color: #258089;
    border-color: #258089;
    box-shadow: 0 0 10px 2px #24727b!important;
}