.header
{
    height: 25px;
    background: #24727b;
}

.jumbotron
{
    height: 92vh;
    margin-bottom: 0;
}

.footer
{
    height: 4vh;
    padding-left: 1%;
    color: #96a2b2;
    background: #101d11;
}
.footer span
{
    color: #96a2b2;
    position: relative;
    left: 55%;
}
.footer span a
{
    color: #96a2b2;
}

#logo
{
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    border-radius: 0 0 10px 0;
    box-shadow:0 2px 10px 8px #62c8fb;
    float: left;
    background: #62c8fb;
    transition: all 0.5s;
}
#logo:hover
{
    background: #fff;
    box-shadow:0 2px 10px 8px #fff;
}
#logo:hover a, #logo:hover a:visited
{
    color: #62c8fb;
}

#logo a
{
    text-decoration: none;
    font-family:Open Sans,sans-serif;
    font-size: 25px;
    transition: all 0.5s;
}
#logo a, #logo a:visited {color: #fff;}
