acme==0.39.0
argh==0.26.2
asn1crypto==0.24.0
awsebcli==3.15.3
beautifulsoup4==4.8.0
botocore==1.12.238
bs4==0.0.1
cement==2.8.2
common==0.1.2
certbot==0.39.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorama==0.3.9
ConfigArgParse==0.14.0
configobj==5.0.6
confusable-homoglyphs==3.2.0
cryptography==2.7
defusedxml==0.6.0
distro==1.4.0
dj-database-url==0.5.0
Django==2.2.24
django-crispy-forms==1.7.2
django-environ==0.4.5
django-registration==3.0.1
docutils==0.15.2
ecdsa==0.13.3
future==0.16.0
get==2019.4.13
gunicorn==19.9.0
httplib2==0.14.0
idna==2.8
jmespath==0.9.4
josepy==1.2.0
letsencrypt==0.7.0
mock==3.0.5
oauth2==1.9.0.post1
oauthlib==3.1.0
parsedatetime==2.4
pathspec==0.5.9
pathtools==0.1.2
Pillow==6.2.0
post==2019.4.13
psycopg2==2.8.3
public==2019.4.13
pyasn1==0.4.7
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyRFC3339==1.1
python-dateutil==2.8.0
python-jose==3.0.1
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1
query-string==2019.4.13
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
semantic-version==2.5.0
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==1.9.3
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.25.6
watchdog==0.9.0
wcwidth==0.1.7
whitenoise==4.1.4
zope.component==4.6
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
zope.proxy==4.3.3

