<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Вход в ChildCard{% endblock %}</title>
    <script src="https://use.fontawesome.com/b8cb5fa048.js"></script>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'auth/css/main.css' %}" type="text/css">
    {% block styles %}{% endblock %}
    <style>
        .jumbotron
        {
            background: url({% static 'auth/image/back_image.jpg' %}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <section  class="jumbotron">
        <div class="container content">
            {% block content %}{% endblock %}
        </div>
    </section >
    <section class="footer">
        &copy; Все права защищены 2019
        <span><b>GitHub:</b> <a href="https://github.com/Dima12101/ChildCard">https://github.com/Dima12101/ChildCard</a></span>
    </section >
</body>
</html>