{% extends "base_auth.html" %}
{% block title %}Ошибка активации{% endblock %}

{% block content %}
    <div class="auth-block error-block">
            <h1>Ошибка активации аккаунта</h1>
            <p>
                Ссылка на активацию аккаунта не валидна.
                <br />
                Скорей всего она была уже использована.
            </p>
            <p>
                По всем вопросам обращаться по следующему адресу:
                <a href="mailto:child-card@mail.ru" target="display"> child-card@mail.ru </a>
            </p>
    </div>
{% endblock %}