{% extends "base_auth.html" %}
{#{% load socialaccount %}#}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'auth/css/login.css' %}" type="text/css">
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="auth-block">
    <h1>Вход в <span id="title_site">ChildCard</span></h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group" id="div_id_username">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input id="id_username" required name="username" type="text" class="form-control" placeholder="Ваш логин">
            </div>
        </div>
        <div class="form-group" id="div_id_password">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                <input id="id_password" required name="password" type="password" class="form-control" placeholder="Ваш суперпароль">
            </div>
        </div>

        {% if form.errors %}
            {{ form.username.errors }}
            {{ form.password.errors }}
            {{ form.non_field_errors  }}
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">ВОЙТИ НА САЙТ</button>
        <input type="hidden" name="next" value="{{ next }}">

        <div class="login-footer">
            <h6>или войдите с помощью</h6>
            <ul class="social-icons">
{#                <li><a class="facebook" href="{% url 'social:begin' 'facebook' %}?next={% url 'main:index' %}"><i class="fa fa-facebook"></i></a></li>#}
                <li><a class="instagram" href="{% url 'social:begin' 'instagram' %}?next={% url 'main:index' %}"><i class="fa fa-instagram"></i></a></li>
                <li><a class="vk" href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'main:index' %}"><i class="fa fa-vk"></i></a></li>
                <li><a class="google" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'main:index' %}"><i class="fa fa-google"></i></a></li>
                <li><a class="yandex" href="{% url 'social:begin' 'yandex-oauth2' %}?next={% url 'main:index' %}"><i class="fa fa-yahoo"></i></a></li>
            </ul>
        </div>
    </form>
</div>

<div class="login-links">
    <p class="text-center">Не помнишь пароль? <a class="txt-brand" href="{% url 'password_reset' %}">Восстановить</a></p>
    <p class="text-center">Еще нету аккаунта? <a class="txt-brand" href="{% url 'django_registration_register' %}">Зарегистрироваться</a></p>
</div>

{% endblock %}