{% extends "base_auth.html" %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'auth/css/change-password.css' %}" type="text/css">
{% endblock %}
{% block content %}
    {% if validlink %}
        <div class="auth-block change-password">
            <h1>Восстановление пароля</h1>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group" id="div_id_new_password1">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input name="new_password1" type="password" class="textInput form-control" required id="id_new_password1"
                               placeholder="Новый пароль">
                        <small id="hint_id_new_password1" class="form-text text-muted">
                            <ul>
                                <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
                                <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                                <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                                <li>Ваш пароль не может состоять только из цифр.</li>
                            </ul>
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" id="div_id_new_password2">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input name="new_password2" type="password" class="textInput form-control" required id="id_new_password2"
                               placeholder="Подтверждение нового пароля">
                    </div>
                </div>
                 {% if form.errors %}
                     {{ form.new_password1.errors }}
                     {{ form.new_password2.errors }}
                     {{ form.non_field_errors  }}
                 {% endif %}
                <button class="btn btn-primary btn-block" type="submit">ИЗМЕНИТЬ ПАРОЛЬ</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    {% else %}
        <div class="auth-block error-block">
            <h1>Ошибка восстановления пароля</h1>
            <p>
                Ссылка на восстановление пароля не валидна.
                Скорей всего она была уже использована.
            </p>
            <p>
                Пожалуйста отправьте запрос на восстановление пароля снова.
            </p>
        </div>
    {% endif %}

{% endblock %}