{% extends "base_auth.html" %}
{% block content %}

<div class="auth-block">
    <h1>Восстановление пароля</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group" id="div_id_email">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input id="id_email" name="email"  class="form-control" required placeholder="Ваш email">
            </div>
        </div>
        {% if form.errors %}
            {{ form.email.errors }}
            {{ form.non_field_errors  }}
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">ВОССТАНОВИТЬ</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}