{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/info.css' %}" type="text/css">
{% endblock %}
{% block content %}

	<div class="info-block">
    	<h1>О НАС</h1>
        <div id="content-scroll">
            <h4>Проблема</h4>
        	<p>
    	        Многие родители следят за развитием и состоянием своего ребёнка, фиксируя различную информацию о нём. Хранение обычно происходит в каких-либо тетрадках, альбомах и т.д. Помимо этого часто возникает у них вопрос, как интерпретировать собранную информацию. Частым решением является: различные интернет ресурсы и форумы.
            </p>
            <p>
                К примеру:
                <br/>
                <i>
                    Допустим есть информация о росте ребёнка в определённый его возраст. Возникает вопрос: всё ли хорошо и что стоит ожидать в будущем.
                    <p>
                        Что обычно делают:
                        <ul>
                            <li>Либо задают вопрос на форуме <-Тут обычно очень субъективная информация.</li>
                            <li>Либо пользуются специальными центильными таблицами ВОС <-Не все про них знают и не все в них разбираются</li>
                        </ul>
                    </p>
                </i>
    	    </p>
            <h4>Что сервис предлагает</h4>
            <p>
                Создание карточки/паспорта ребёнка, в которой есть возможность вносить различную информацию на определённый возраст ребёнка:
                <ul>
                    <li><i>Рост, вес, окружность груди и головы</i> -> На основе этой информации вы получаете текущие состояние ребёнка. А также можете посмотреть различные графики анализа темпов развития.</li>
                    <li><i>Фото</i> -> визуальное развитие ребёнка</li>
                    <li><i>Заболевания, прививки</i> -> просто знать, что они были</li>
                </ul>
            </p>
        </div>
	</div>


    <script>
        $("#li_main").removeClass("current");
        $("#li_contact").removeClass("current");
        $("#li_info").addClass("current");
    </script>
{% endblock %}
