.change-password
{
    max-width: 60%;
}

.input-group small
{
    margin-left: 25px;
    text-align: left;
}

.success-change-password h1
{
    color: #70b370;
}
.success-change-password p
{
    color: #96a2b2;
}

.done-block p
{
    color: #70b370;
}

.done-block p i
{
    color: #b37e68;
}